@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22d4fd;
    --color-cuarto:#e7fd22;
    --color-quinto:#f3e2e2;
    --color-hover:#494842;
    
    --fuente-montserrate:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}


* {
    padding: 0;
    margin: 0
}

body {
    background-color:var(--color-primario);
    color:var(--color-secundario);
   /*height:100vh;*/
    box-sizing: border-box;
}
.header{
padding: 2% 0% 0% 20%
}
.header_menu {
    display: flex;
    gap: 80px
   
}
.header_menu_link{
        font-size: 1.5rem;
        color:var(--color-terciario);
        font-weight: 600;
        font-family: var(--fuente-montserrate);
        text-decoration: none;
    }


strong {
    color: var(--color-cuarto);
}
.titulo-destaque {
    color: var(--color-terciario);
}
.presentacion{
    display: flex;
    align-items:center;
    padding: 8% 20%;
    justify-content: space-between;
    gap: 92px;
}
.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.presentacion_contenido_titulo{
    font-size: 2.7rem;
    font-family: var(--fuente-krona);
    text-align: justify;
}
.presentacion_destaque{
    display: flex;
    font-size: 2.375rem;
    font-family: var(--fuente-krona);
    color:var(--color-terciario);
    width: 400;
    align-items: center;
    padding: 1% 25%;
    
}
.presentacion_contenido_texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrate);
    text-align: justify;
}
.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion_enlaces_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrate);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
    border: 2px solid var(--color-terciario);/*se puede colocar diferentes tipos de bordes
    de tutoriales de bordes css dashed, double, groove, hidden, inset*/
    display: flex;
    justify-content: center;
    gap: 16px;
}
.presentacion_enlaces_link:hover{
    background-color: var(--color-hover);
    padding: 2%;
  }
.presentacion_enlaces_subtitulo:hover{
    background-color: var(--color-hover);
    padding: 2%;
    color: var(--color-cuarto);
    font-size: 1.875rem;
}
.presentacion_imagen{
    width: 45%;
}
.footer{
    background-color:var(--color-terciario);
    padding:20px;
    color: var(--color-primario);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fuente-montserrate);
}
@media(max-width:1200px){
    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }
}